// SCSS Variables
$layout_bp_mobile: 360px;
$layout_bp_tablet: 800px;
$layout_bp_desktop: 900px;

$gray: rgb(142, 142, 147);
$gray-light: rgb(152, 152, 152);
$blue: rgb(10, 132, 255);
$blue-light: rgb(0, 122, 255);


// SCSS Herences
%standard-style {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  font-family: "Graphik", sans-serif;
  font-size: 1rem;
  font-weight: 400;

}

// SCSS Styles
html {
  @extend %standard-style;
}

body {
  @extend %standard-style;
}

*,
::after,
::before {
  box-sizing: border-box;
}

// SCSS Mixins
@mixin mobile {
  @media only screen and (min-width: $layout_bp_mobile) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $layout_bp_desktop) {
    @content;
  }
}